$titleColor: var(--strong-color);
strong {
    color: $titleColor;
}
h2 {
    font-size: 25pt;
}
hr {
    opacity: 0.6;
    background-color: rgb(51, 84, 246);
    border: none;
    height: 3px;
    width: 80%;
}
h1 {
    font-size: 40pt;
    color: $titleColor;
}
section {
    width: 80%;
    p {
        font-size: 20pt;
    }
    h1,
    p {
        &:not(.notCenter) {
            text-align: center;
        }
        font-weight: 700;
    }
}
img {
    max-width: 80%;
}
a[href] {
    color: var(--href-color);
}
.links {
    width: 100%;
    .btn {
        width: 20%;
        margin-bottom: 30px;
        margin-left: 20px;
    }
}
.mainIcon {
    min-width: 100%;
}
.main-title {
    font-size: 25pt;
}
@media all and (max-width: 600px) {
    p {
        font-size: 5vw !important;
    }
    section {
        > h1 {
            font-size: 9vw !important;
        }
    }
    h1.main-title {
        font-size: 5.5vw !important;
    }
    .btn {
        font-size: 2.6vw !important;
    }
}
