/* import */
/* >>> icon */
@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);
/* >>> font */
@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700;900&display=swap);

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
html,
body {
    background-color: var(--styleMode-background-color) !important;
    color: var(--styleMode-color) !important;
    margin: 0;
}
.default {
    cursor: default;
}
.user-select {
    user-select: none;
}
.button-div {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}
[href],
[href]:visited {
    color: var(--styleMode-color);
    text-decoration: none;
}
[href]:hover {
    opacity: 0.8;
}

/* popover */
[data-popover] {
    position: relative;
}
[data-popover]::before {
    color: rgb(232, 230, 227);
    background-color: rgba(0, 0, 0, 0.9);
    text-shadow: none;
}
.item-none {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1200ms ease-out, transform 600ms ease-out;
}
.active {
    opacity: 1;
    transform: none;
}

/* aria-label */
[aria-label] {
    position: relative;
}
[aria-label]:before {
    display: none;
    position: absolute;
    top: auto;
    right: 50%;
    bottom: -7px;
    margin-right: -5px;
    width: 0;
    height: 0;
    content: "";
    border: 5px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.9);
    pointer-events: none;
}
[aria-label]:after {
    display: none;
    top: 100%;
    right: 50%;
    padding: 0 10px;
    border-radius: 3px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    white-space: pre;
    margin-top: 5px;
    line-height: 26px;
    content: attr(aria-label);
    transform: translateX(50%);
}
[aria-label]:hover {
    z-index: 99999 !important;
}
[aria-label]:hover:after,
[aria-label]:hover:before {
    display: block !important;
    opacity: 1 !important;
}

/* flex */
.flex {
    display: flex;
}
.flex-center {
    align-items: center;
}
.flex-down {
    flex-direction: column;
}

/*  */
.block {
    display: block !important;
}
.none {
    display: none !important;
}

/* var */
:root {
    --styleMode-background-color: #222;
    --styleMode-color: rgb(224, 224, 224);
    --styleMode-webkit-scrollbar-thumb: #454a4d;
    --styleMode-webkit-scrollbar: #aba499;
    --strong-color: orange;
}
:root.bright {
    --styleMode-background-color: rgb(224, 224, 224);
    --styleMode-color: #222;
    --styleMode-webkit-scrollbar-thumb: #aba499;
    --styleMode-webkit-scrollbar: #454a4d;
    --strong-color: rgb(0, 46, 253);
}

/* scrollbar */
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--styleMode-webkit-scrollbar-thumb);
}
::-webkit-scrollbar {
    width: 16px;
    background-color: var(--styleMode-webkit-scrollbar);
}

/* selection */
::selection {
    background-color: #004daa;
    color: #e8e6e3;
}
